<section>
	<div class="row">
		<div class="col-md-12">
			<h3>Helpful EQ Links</h3>

			<!-- Extra links and tools -->
			<script>var zam_searchbox_site = 'everquest'; var zam_searchbox_format = '300x130'</script>
			<script src='//zam.zamimg.com/j/searchbox.js'></script>
			<div ng-repeat="title in ['EQ Data Links', 'EQ Map Links', 'EQ Tools Links']">
				<strong>{{ title }}:</strong>
				<p>
					<ul>
						<li ng-repeat="link in links[title]">
							<a href="{{ link.url }}">{{ link.name }}</a>
							<p>{{ link.description }}</p>
						</li>
					</ul>
				</p>
			</div>
		</div>
		<!--<script type="text/javascript" src="http://www.magelocdn.com/pack/eq/en/magelo-bar.js#1rdq"></script>-->
	</div>
</section>